@model IEnumerable<ProjetoCondominio.Models.Sala>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Salas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Andar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Garagem)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Salas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Andar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Garagem)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
